:root{
    --verde-claro: #DAFDBA;
    --verde2: #9AEBA3;
    --azul-aqua: #45C4B0;
    --azul-oscuro: #13678A;
    --azul-mas-oscuro: #012030;}


.dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
}
html{font-size: 62.5%}
body{font-size: 16px;
font-family: "Dancing Script", cursive;
}

h1{
    text-align: center;
    font-size: 2rem;
    width: 3.8rem;
}
span{
    font-size: 2rem;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--azul-oscuro);
}
.titulo span{
    font-size: 2rem;
    color: var(--azul-mas-oscuro);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}
.nav-bg{
 background-color: var(--azul-oscuro);
}
.navegacion-principal{
     padding: 1rem;
  display: flex;
  flex-direction: column; /* 📱 móvil */
  justify-content: space-between;
}

@media (min-width: 768px) {
  .navegacion-principal{
    flex-direction: row; /* 💻 escritorio */
  }
}


.navegacion-principal{
    padding: 1.5rem;
    background-color: var(--azul-oscuro);
}
.navegacion-principal a{
    color: var(--verde-claro);
    text-decoration: none;
}
.navegacion-principal a:hover{
    color: var(--verde2);
    font-size: 2rem;
    background-color: var(--verde-claro);
    font-weight: 900;

}
.hero{
    background-image: url(../sherk/img\ 1.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 550px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color:#13678A;
    height: 100%;
    width: 100%;
}